<p id="notice"><%= notice %></p>

<p>
  <strong>Action:</strong>
  <%= @event.action %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @event.issue %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
